<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="HangfireDb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=ServiceBus_Monitor;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <add name="ServiceBus.ConnectionString" connectionString="enter service bus primary or secondary connection string"/>
  </connectionStrings>
  <appSettings>
    <add key="ServiceBus.Topic" value="AppMonitor"/>
    <add key="EmailAlert.From" value="from email address"/>
    <add key="EmailAlert.To" value="to emails comma separated"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" deliveryFormat="SevenBit" >
        <network
          defaultCredentials="false"
          enableSsl="true"
          host="smtp.yourserver.com"
          password=""
          port="587"
          userName=""
          />
      </smtp>
    </mailSettings>
  </system.net>

</configuration>